{
  "openapi": "3.0.3",
  "info": {
    "title": "FileFeed API",
    "version": "2026-05-25",
    "description": "Official FileFeed REST API for connections, pipelines, schemas, pipeline runs, webhooks, outbound uploads, documents, files, and notifications. Date-based API versioning is controlled by the `FileFeed-Version` request header (default `2024-09-01`; latest `2026-05-25`); this document describes the `2026-05-25` shape."
  },
  "servers": [
    { "url": "https://api.sftpsync.io" }
  ],
  "tags": [
    { "name": "Connections" },
    { "name": "Pipelines" },
    { "name": "Schemas" },
    { "name": "Pipeline Runs" },
    { "name": "Webhooks" },
    { "name": "Outbound Uploads" },
    { "name": "Documents" },
    { "name": "Files" },
    { "name": "Notifications" },
    { "name": "Clients (deprecated)" }
  ],
  "security": [
    { "ApiKeyAuth": [] }
  ],
  "paths": {
    "/pipeline-runs": {
      "get": {
        "tags": ["Pipeline Runs"],
        "summary": "List pipeline runs",
        "operationId": "listPipelineRuns",
        "parameters": [
          { "name": "page", "in": "query", "schema": { "type": "integer", "minimum": 1 } },
          { "name": "limit", "in": "query", "schema": { "type": "integer", "minimum": 1, "maximum": 1000 } },
          { "name": "clientId", "in": "query", "schema": { "type": "string" } },
          { "name": "pipelineId", "in": "query", "schema": { "type": "string" } },
          { "name": "status", "in": "query", "schema": { "$ref": "#/components/schemas/PipelineRunStatus" } },
          { "name": "model", "in": "query", "schema": { "type": "string" } },
          { "name": "connectionName", "in": "query", "schema": { "type": "string" }, "description": "Filter by connection name (partial, case-insensitive)." },
          { "name": "clientName", "in": "query", "schema": { "type": "string", "deprecated": true }, "description": "Deprecated: use connectionName." },
          { "name": "pipelineName", "in": "query", "schema": { "type": "string" }, "description": "Filter by pipeline name (partial, case-insensitive)." },
          { "name": "id", "in": "query", "schema": { "type": "array", "items": { "type": "string" } }, "style": "form", "explode": true }
        ],
        "responses": {
          "200": {
            "description": "Paginated pipeline runs",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/PaginatedPipelineRuns" },
                "example": {
                  "data": [ { "id": "run_123", "status": "completed" } ],
                  "pagination": { "page": 1, "limit": 50, "total": 1, "totalPages": 1 }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" }
        }
      }
    },
    "/pipeline-runs/{id}": {
      "get": {
        "tags": ["Pipeline Runs"],
        "summary": "Get a pipeline run",
        "operationId": "getPipelineRun",
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "Pipeline run", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/PipelineRun" }, "example": { "id": "run_123", "status": "completed", "filename": "employees.csv" } } } },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/files/pipeline-runs/{id}": {
      "get": {
        "tags": ["Pipeline Runs"],
        "summary": "Get pipeline run data (paginated)",
        "operationId": "getPipelineRunData",
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" } },
          { "name": "offset", "in": "query", "schema": { "type": "integer", "minimum": 0 } },
          { "name": "limit", "in": "query", "schema": { "type": "integer", "minimum": 1, "maximum": 1000 } }
        ],
        "responses": {
          "200": { "description": "Processed data page", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/PipelineRunDataResponse" }, "example": { "data": [ { "id": "123", "email": "a@b.com" } ], "pagination": { "total": 1, "offset": 0, "limit": 1000, "returned": 1 } } } } }
        }
      }
    },
    "/pipeline-runs/{id}/status": {
      "patch": {
        "tags": ["Pipeline Runs"],
        "summary": "Acknowledge a pipeline run",
        "operationId": "ackPipelineRun",
        "parameters": [ { "name": "id", "in": "path", "required": true, "schema": { "type": "string" } } ],
        "requestBody": {
          "required": true,
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/PatchRunStatusRequest" }, "example": { "status": "acknowledged" } } }
        },
        "responses": {
          "200": { "description": "Updated pipeline run", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/PipelineRun" } } } }
        }
      }
    },
    "/files/pipeline-runs/{id}/reprocess": {
      "post": {
        "tags": ["Pipeline Runs"],
        "summary": "Reprocess a pipeline run",
        "operationId": "reprocessPipelineRun",
        "parameters": [ { "name": "id", "in": "path", "required": true, "schema": { "type": "string" } } ],
        "responses": {
          "200": { "description": "Reprocess scheduled", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/MessageResponse" }, "example": { "message": "Reprocess scheduled" } } } }
        }
      }
    },
    "/files/pipeline-runs/{id}/original": {
      "get": {
        "tags": ["Pipeline Runs"],
        "summary": "Get presigned URL for original file",
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" } },
          { "name": "expiresIn", "in": "query", "schema": { "type": "integer" } }
        ],
        "responses": {
          "200": { "description": "Presigned URL", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/PresignedUrlResponse" } } } }
        }
      }
    },
    "/files/pipeline-runs/{id}/processed": {
      "get": {
        "tags": ["Pipeline Runs"],
        "summary": "Get presigned URL for processed file",
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" } },
          { "name": "expiresIn", "in": "query", "schema": { "type": "integer" } }
        ],
        "responses": {
          "200": { "description": "Presigned URL", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/PresignedUrlResponse" } } } }
        }
      }
    },
    "/pipeline-runs/pipeline/{pipelineId}": {
      "get": {
        "tags": ["Pipeline Runs"],
        "summary": "Get runs by pipeline",
        "parameters": [
          { "name": "pipelineId", "in": "path", "required": true, "schema": { "type": "string" } },
          { "name": "page", "in": "query", "schema": { "type": "integer" } },
          { "name": "limit", "in": "query", "schema": { "type": "integer" } }
        ],
        "responses": {
          "200": { "description": "Runs list", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/PaginatedPipelineRunsOrArray" } } } }
        }
      }
    },

    "/pipeline-runs/delta": {
      "get": {
        "tags": ["Pipeline Runs"],
        "summary": "Compare two pipeline runs (delta)",
        "description": "Compares the processed files of two runs of the SAME pipeline (for example yesterday's ingest vs today's) and returns the records added and removed. The diff is a whole-record multiset difference — the platform has no record-identity key, so a changed row surfaces as one removed plus one added. Both runs must belong to the same pipeline, must be in a processed state (`completed`, `delivered`, or `acknowledged`), and must be visible to the caller. The response carries summary counts plus a single paginated `changes` list (added entries first, then removed).",
        "parameters": [
          { "name": "baseRunId", "in": "query", "required": true, "schema": { "type": "string" }, "description": "Baseline (earlier) pipeline run id — the \"before\" side." },
          { "name": "compareRunId", "in": "query", "required": true, "schema": { "type": "string" }, "description": "Comparison (later) pipeline run id — the \"after\" side. Must belong to the same pipeline as baseRunId." },
          { "name": "offset", "in": "query", "required": false, "schema": { "type": "integer", "minimum": 0, "default": 0 }, "description": "Offset into the flattened changes list." },
          { "name": "limit", "in": "query", "required": false, "schema": { "type": "integer", "minimum": 1, "maximum": 1000, "default": 100 }, "description": "Maximum number of change entries to return (1–1000)." }
        ],
        "responses": {
          "200": { "description": "The delta between the two runs.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/PipelineRunDelta" } } } },
          "400": { "description": "Same run id given twice, the two runs belong to different pipelines, a run is not in a processed state, or a processed file is not a record array.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "404": { "description": "A run was not found in the workspace or is not visible to the caller.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },

    "/connections": {
      "get": { "tags": ["Connections"], "summary": "List connections", "operationId": "listConnections", "responses": { "200": { "description": "Connections", "content": { "application/json": { "schema": { "type": "array", "items": { "$ref": "#/components/schemas/Connection" } }, "example": [ { "id": "conn_123", "name": "Acme" } ] } } } } },
      "post": { "tags": ["Connections"], "summary": "Create connection", "operationId": "createConnection", "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/CreateConnectionParams" }, "example": { "name": "Acme" } } } }, "responses": { "200": { "description": "Connection", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Connection" }, "example": { "id": "conn_123", "name": "Acme" } } } } } }
    },
    "/connections/{id}": {
      "get": { "tags": ["Connections"], "summary": "Get connection", "parameters": [ { "name": "id", "in": "path", "required": true, "schema": { "type": "string" } } ], "responses": { "200": { "description": "Connection", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Connection" } } } }, "404": { "$ref": "#/components/responses/NotFound" } } },
      "patch": { "tags": ["Connections"], "summary": "Update connection", "parameters": [ { "name": "id", "in": "path", "required": true, "schema": { "type": "string" } } ], "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/UpdateConnectionParams" } } } }, "responses": { "200": { "description": "Connection", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Connection" } } } } } },
      "delete": { "tags": ["Connections"], "summary": "Delete connection", "parameters": [ { "name": "id", "in": "path", "required": true, "schema": { "type": "string" } } ], "responses": { "204": { "description": "Deleted" } } }
    },
    "/connections/{id}/test-connection": {
      "post": { "tags": ["Connections"], "summary": "Test SFTP connection", "description": "Verifies an SFTP connection with a live login. For an EMAIL connection this is a no-op that returns `success: false` with an explanatory message (still HTTP 200, not an error).", "operationId": "testConnection", "parameters": [ { "name": "id", "in": "path", "required": true, "schema": { "type": "string" } } ], "responses": { "200": { "description": "Connection result", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/TestConnectionResponse" }, "example": { "success": true, "message": "Connected" } } } } } }
    },

    "/clients": {
      "get": { "tags": ["Clients (deprecated)"], "summary": "List clients", "operationId": "listClients", "deprecated": true, "description": "**Deprecated** as of API version `2026-05-25`. Use [`GET /connections`](#tag/connections/get/connections) instead. Sunset: 2027-05-25.", "responses": { "200": { "description": "Clients", "content": { "application/json": { "schema": { "type": "array", "items": { "$ref": "#/components/schemas/Client" } }, "example": [ { "id": "cl_123", "name": "Acme" } ] } } } } },
      "post": { "tags": ["Clients (deprecated)"], "summary": "Create client", "operationId": "createClient", "deprecated": true, "description": "**Deprecated** as of API version `2026-05-25`. Use [`POST /connections`](#tag/connections/post/connections) instead. Sunset: 2027-05-25.", "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/CreateClientParams" }, "example": { "name": "Acme" } } } }, "responses": { "200": { "description": "Client", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Client" }, "example": { "id": "cl_123", "name": "Acme" } } } } } }
    },
    "/clients/{id}": {
      "get": { "tags": ["Clients (deprecated)"], "summary": "Get client", "deprecated": true, "description": "**Deprecated** — use `GET /connections/{id}` instead.", "parameters": [ { "name": "id", "in": "path", "required": true, "schema": { "type": "string" } } ], "responses": { "200": { "description": "Client", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Client" } } } }, "404": { "$ref": "#/components/responses/NotFound" } } },
      "patch": { "tags": ["Clients (deprecated)"], "summary": "Update client", "deprecated": true, "description": "**Deprecated** — use `PATCH /connections/{id}` instead.", "parameters": [ { "name": "id", "in": "path", "required": true, "schema": { "type": "string" } } ], "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/UpdateClientParams" } } } }, "responses": { "200": { "description": "Client", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Client" } } } } } },
      "delete": { "tags": ["Clients (deprecated)"], "summary": "Delete client", "deprecated": true, "description": "**Deprecated** — use `DELETE /connections/{id}` instead.", "parameters": [ { "name": "id", "in": "path", "required": true, "schema": { "type": "string" } } ], "responses": { "204": { "description": "Deleted" } } }
    },
    "/clients/{id}/test-connection": {
      "post": { "tags": ["Clients (deprecated)"], "summary": "Test SFTP connection", "operationId": "testClientConnection", "deprecated": true, "description": "**Deprecated** — use `POST /connections/{id}/test-connection` instead.", "parameters": [ { "name": "id", "in": "path", "required": true, "schema": { "type": "string" } } ], "responses": { "200": { "description": "Connection result", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/TestConnectionResponse" }, "example": { "success": true, "message": "Connected" } } } } } }
    },

    "/schemas": {
      "get": { "tags": ["Schemas"], "summary": "List schemas", "responses": { "200": { "description": "Schemas", "content": { "application/json": { "schema": { "type": "array", "items": { "$ref": "#/components/schemas/Schema" } } } } } } },
      "post": { "tags": ["Schemas"], "summary": "Create schema", "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/CreateSchemaParams" } } } }, "responses": { "200": { "description": "Schema", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Schema" } } } } } }
    },
    "/schemas/{id}": {
      "get": { "tags": ["Schemas"], "summary": "Get schema", "parameters": [ { "name": "id", "in": "path", "required": true, "schema": { "type": "string" } } ], "responses": { "200": { "description": "Schema", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Schema" } } } }, "404": { "$ref": "#/components/responses/NotFound" } } },
      "patch": { "tags": ["Schemas"], "summary": "Update schema", "parameters": [ { "name": "id", "in": "path", "required": true, "schema": { "type": "string" } } ], "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/UpdateSchemaParams" } } } }, "responses": { "200": { "description": "Schema", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Schema" } } } } } },
      "delete": { "tags": ["Schemas"], "summary": "Delete schema", "parameters": [ { "name": "id", "in": "path", "required": true, "schema": { "type": "string" } } ], "responses": { "204": { "description": "Deleted" } } }
    },
    "/schemas/{schemaId}/validate": {
      "post": { "tags": ["Schemas"], "summary": "Validate data against a schema", "parameters": [ { "name": "schemaId", "in": "path", "required": true, "schema": { "type": "string" } } ], "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ValidateDataRequest" } } } }, "responses": { "200": { "description": "Validation result", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ValidationResult" } } } } } }
    },

    "/pipelines": {
      "get": {
        "tags": ["Pipelines"],
        "summary": "List pipelines",
        "parameters": [
          { "name": "clientId", "in": "query", "schema": { "type": "string" }, "description": "Filter by client ID." },
          { "name": "connectionName", "in": "query", "schema": { "type": "string" }, "description": "Filter by connection name (partial, case-insensitive)." },
          { "name": "clientName", "in": "query", "schema": { "type": "string", "deprecated": true }, "description": "Deprecated: use connectionName." }
        ],
        "responses": { "200": { "description": "Pipelines", "content": { "application/json": { "schema": { "type": "array", "items": { "$ref": "#/components/schemas/Pipeline" } } } } } }
      },
      "post": { "tags": ["Pipelines"], "summary": "Create pipeline", "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/CreatePipelineParams" } } } }, "responses": { "200": { "description": "Pipeline", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Pipeline" } } } } } }
    },
    "/pipelines/{id}": {
      "get": { "tags": ["Pipelines"], "summary": "Get pipeline", "parameters": [ { "name": "id", "in": "path", "required": true, "schema": { "type": "string" } } ], "responses": { "200": { "description": "Pipeline", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Pipeline" } } } }, "404": { "$ref": "#/components/responses/NotFound" } } },
      "patch": { "tags": ["Pipelines"], "summary": "Update pipeline", "parameters": [ { "name": "id", "in": "path", "required": true, "schema": { "type": "string" } } ], "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/UpdatePipelineParams" } } } }, "responses": { "200": { "description": "Pipeline", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Pipeline" } } } } } },
      "delete": { "tags": ["Pipelines"], "summary": "Delete pipeline", "parameters": [ { "name": "id", "in": "path", "required": true, "schema": { "type": "string" } } ], "responses": { "204": { "description": "Deleted" } } }
    },
    "/pipelines/{id}/toggle-active": {
      "patch": { "tags": ["Pipelines"], "summary": "Toggle pipeline active status", "parameters": [ { "name": "id", "in": "path", "required": true, "schema": { "type": "string" } } ], "responses": { "200": { "description": "Pipeline", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Pipeline" } } } } } }
    },

    "/webhooks": {
      "get": { "tags": ["Webhooks"], "summary": "List webhooks", "responses": { "200": { "description": "Webhooks", "content": { "application/json": { "schema": { "type": "array", "items": { "$ref": "#/components/schemas/Webhook" } } } } } } },
      "post": { "tags": ["Webhooks"], "summary": "Create webhook", "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/CreateWebhookParams" } } } }, "responses": { "201": { "description": "Webhook created. The response includes the signing `secret` — shown once, never returned again.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/CreateWebhookResponse" } } } } } }
    },
    "/webhooks/{id}": {
      "get": { "tags": ["Webhooks"], "summary": "Get webhook", "parameters": [ { "name": "id", "in": "path", "required": true, "schema": { "type": "string" } } ], "responses": { "200": { "description": "Webhook", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Webhook" } } } }, "404": { "$ref": "#/components/responses/NotFound" } } },
      "patch": { "tags": ["Webhooks"], "summary": "Update webhook", "parameters": [ { "name": "id", "in": "path", "required": true, "schema": { "type": "string" } } ], "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/UpdateWebhookParams" } } } }, "responses": { "200": { "description": "Webhook", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Webhook" } } } } } },
      "delete": { "tags": ["Webhooks"], "summary": "Delete webhook", "parameters": [ { "name": "id", "in": "path", "required": true, "schema": { "type": "string" } } ], "responses": { "204": { "description": "Deleted" } } }
    },
    "/webhooks/deliveries": {
      "get": {
        "tags": ["Webhooks"],
        "summary": "List webhook deliveries",
        "operationId": "listWebhookDeliveries",
        "parameters": [
          { "name": "webhookId", "in": "query", "schema": { "type": "string" } },
          { "name": "page", "in": "query", "schema": { "type": "integer" } },
          { "name": "limit", "in": "query", "schema": { "type": "integer" } },
          { "name": "eventType", "in": "query", "schema": { "type": "string" } },
          { "name": "success", "in": "query", "schema": { "type": "boolean" } }
        ],
        "responses": {
          "200": { "description": "Paginated deliveries", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/PaginatedWebhookDeliveries" }, "example": { "data": [ { "id": "wd_1", "success": true, "statusCode": 200 } ], "pagination": { "page": 1, "limit": 50, "total": 1, "totalPages": 1 } } } } }
        }
      }
    },

    "/outbound/uploads": {
      "post": {
        "tags": ["Outbound Uploads"],
        "summary": "Initialize an outbound multipart upload session",
        "operationId": "initOutboundUpload",
        "description": "Creates a new upload session for pushing JSON data into an outbound pipeline. The pipeline must have `direction: \"outbound\"`.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/InitOutboundUploadParams" },
              "example": { "connectionName": "Acme Corp", "pipelineName": "employee-sync", "totalParts": 3, "filename": "employees.json" }
            }
          }
        },
        "responses": {
          "201": { "description": "Upload session created", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/InitOutboundUploadResponse" }, "example": { "uploadId": "a1b2c3d4-e5f6-7890-abcd-ef1234567890", "status": "initiated", "totalParts": 3, "filename": "employees.json" } } } },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/outbound/uploads/{uploadId}/parts/{partNumber}": {
      "put": {
        "tags": ["Outbound Uploads"],
        "summary": "Upload one part for an outbound upload session",
        "operationId": "uploadOutboundPart",
        "description": "Upload a single part (JSON array of objects). Part numbers are 1-based and must not exceed `totalParts`.",
        "parameters": [
          { "name": "uploadId", "in": "path", "required": true, "schema": { "type": "string" }, "description": "Upload session ID from initUpload." },
          { "name": "partNumber", "in": "path", "required": true, "schema": { "type": "integer", "minimum": 1 }, "description": "1-based part number." }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/UploadOutboundPartParams" },
              "example": { "data": [{ "remoteId": "E001", "firstName": "Alice", "lastName": "Smith" }] }
            }
          }
        },
        "responses": {
          "200": { "description": "Part uploaded", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/UploadOutboundPartResponse" }, "example": { "uploadId": "a1b2c3d4-e5f6-7890-abcd-ef1234567890", "partNumber": 1, "status": "uploading", "uploadedParts": 1, "totalParts": 3 } } } },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/outbound/uploads/{uploadId}/complete": {
      "post": {
        "tags": ["Outbound Uploads"],
        "summary": "Complete outbound multipart upload and trigger processing",
        "operationId": "completeOutboundUpload",
        "description": "Combines all uploaded parts into one file, stores it in S3, and triggers pipeline processing. The number of parts listed must match `totalParts`.",
        "parameters": [
          { "name": "uploadId", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/CompleteOutboundUploadParams" },
              "example": { "parts": [{ "partNumber": 1 }, { "partNumber": 2 }, { "partNumber": 3 }] }
            }
          }
        },
        "responses": {
          "200": { "description": "Upload completed and processing started", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/CompleteOutboundUploadResponse" }, "example": { "message": "Upload a1b2c3d4 completed. Processing started for employees.json", "filename": "employees.json" } } } },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/outbound/uploads/{uploadId}/abort": {
      "post": {
        "tags": ["Outbound Uploads"],
        "summary": "Abort outbound multipart upload and cleanup temp parts",
        "operationId": "abortOutboundUpload",
        "description": "Cancels an in-progress upload session, deletes all temporary parts from storage, and marks the session as aborted. Further uploads to this session will be rejected.",
        "parameters": [
          { "name": "uploadId", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "Upload aborted", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/MessageResponse" }, "example": { "message": "Upload a1b2c3d4 aborted and cleaned up" } } } },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/outbound/uploads/{uploadId}": {
      "get": {
        "tags": ["Outbound Uploads"],
        "summary": "Get outbound multipart upload status",
        "operationId": "getOutboundUploadStatus",
        "description": "Returns the current state of an upload session including which parts have been uploaded.",
        "parameters": [
          { "name": "uploadId", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "Upload status", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/OutboundUploadStatusResponse" }, "example": { "uploadId": "a1b2c3d4-e5f6-7890-abcd-ef1234567890", "status": "uploading", "connectionName": "Acme Corp", "clientName": "Acme Corp", "pipelineName": "employee-sync", "filename": "employees.json", "totalParts": 3, "uploadedParts": 2, "uploadedPartNumbers": [1, 2], "createdAt": "2026-03-01T12:00:00.000Z", "updatedAt": "2026-03-01T12:01:00.000Z" } } } },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/documents/browse": {
      "get": { "tags": ["Documents"], "summary": "Browse documents", "description": "List one page of folders and files under a path within a connection (drive).", "parameters": [ { "name": "connectionId", "in": "query", "required": true, "schema": { "type": "string" } }, { "name": "path", "in": "query", "required": false, "schema": { "type": "string" }, "description": "Folder path relative to the connection root (empty = root)." }, { "name": "token", "in": "query", "required": false, "schema": { "type": "string" }, "description": "Pagination token from a previous page." } ], "responses": { "200": { "description": "One page of folders and files", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/BrowseResponse" } } } } } }
    },
    "/documents/metadata": {
      "get": { "tags": ["Documents"], "summary": "Get document metadata", "parameters": [ { "name": "connectionId", "in": "query", "required": true, "schema": { "type": "string" } }, { "name": "path", "in": "query", "required": true, "schema": { "type": "string" } } ], "responses": { "200": { "description": "File metadata", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/DocumentMetadata" } } } }, "404": { "$ref": "#/components/responses/NotFound" } } }
    },
    "/documents/download": {
      "get": { "tags": ["Documents"], "summary": "Get a presigned download URL", "parameters": [ { "name": "connectionId", "in": "query", "required": true, "schema": { "type": "string" } }, { "name": "path", "in": "query", "required": true, "schema": { "type": "string" } } ], "responses": { "200": { "description": "Presigned download URL", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/DownloadUrl" } } } } } }
    },
    "/documents/upload-url": {
      "post": { "tags": ["Documents"], "summary": "Create a presigned upload ticket", "description": "Server picks single (one PUT) or multipart (one PUT per part) based on size.", "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/CreateUploadTicketParams" } } } }, "responses": { "200": { "description": "Upload ticket", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/UploadTicket" } } } }, "403": { "$ref": "#/components/responses/Forbidden" } } }
    },
    "/documents/upload-complete": {
      "post": { "tags": ["Documents"], "summary": "Complete a multipart upload", "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/CompleteUploadParams" } } } }, "responses": { "200": { "description": "Completed object", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/UploadCompleteResult" } } } } } }
    },
    "/documents/upload-abort": {
      "post": { "tags": ["Documents"], "summary": "Abort a multipart upload", "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/AbortUploadParams" } } } }, "responses": { "200": { "description": "Aborted", "content": { "application/json": { "schema": { "type": "object", "properties": { "aborted": { "type": "boolean", "enum": [true] } }, "required": ["aborted"] } } } } } }
    },
    "/documents/folders": {
      "post": { "tags": ["Documents"], "summary": "Create a folder", "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/CreateFolderParams" } } } }, "responses": { "200": { "description": "Created folder", "content": { "application/json": { "schema": { "type": "object", "properties": { "created": { "type": "boolean", "enum": [true] }, "path": { "type": "string" } }, "required": ["created", "path"] } } } }, "403": { "$ref": "#/components/responses/Forbidden" }, "409": { "$ref": "#/components/responses/Conflict" } } }
    },
    "/documents/move": {
      "post": { "tags": ["Documents"], "summary": "Move a file or folder", "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/MoveParams" } } } }, "responses": { "200": { "description": "Moved", "content": { "application/json": { "schema": { "type": "object", "properties": { "moved": { "type": "boolean", "enum": [true] } }, "required": ["moved"] } } } }, "403": { "$ref": "#/components/responses/Forbidden" } } }
    },
    "/documents/rename": {
      "post": { "tags": ["Documents"], "summary": "Rename a file or folder", "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/RenameParams" } } } }, "responses": { "200": { "description": "Renamed", "content": { "application/json": { "schema": { "type": "object", "properties": { "renamed": { "type": "boolean", "enum": [true] }, "path": { "type": "string" } }, "required": ["renamed", "path"] } } } }, "403": { "$ref": "#/components/responses/Forbidden" } } }
    },
    "/documents/object": {
      "delete": { "tags": ["Documents"], "summary": "Delete a file", "description": "Pass force=true (admin/owner only) to override pipeline-folder protection.", "parameters": [ { "name": "connectionId", "in": "query", "required": true, "schema": { "type": "string" } }, { "name": "path", "in": "query", "required": true, "schema": { "type": "string" } }, { "name": "force", "in": "query", "required": false, "schema": { "type": "boolean" } } ], "responses": { "200": { "description": "Deleted", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/DeleteResult" } } } }, "403": { "$ref": "#/components/responses/Forbidden" } } }
    },
    "/documents/folder": {
      "delete": { "tags": ["Documents"], "summary": "Delete a folder and its contents", "description": "Pass force=true (admin/owner only) to override pipeline-folder protection.", "parameters": [ { "name": "connectionId", "in": "query", "required": true, "schema": { "type": "string" } }, { "name": "path", "in": "query", "required": true, "schema": { "type": "string" } }, { "name": "force", "in": "query", "required": false, "schema": { "type": "boolean" } } ], "responses": { "200": { "description": "Deleted", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/DeleteResult" } } } }, "403": { "$ref": "#/components/responses/Forbidden" } } }
    },
    "/documents/bulk-delete": {
      "post": { "tags": ["Documents"], "summary": "Delete multiple items", "description": "Returns the count deleted plus a per-item list of failures — a partial failure does not error.", "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/BulkDeleteParams" } } } }, "responses": { "200": { "description": "Bulk delete result", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/BulkDeleteResult" } } } } } }
    },
    "/files/json": {
      "get": { "tags": ["Files"], "summary": "Get a processed JSON file by name", "description": "Retrieve a processed JSON file's content, located by connection name, file name, and pipeline. Supply offset/limit to page an array file.", "parameters": [ { "name": "clientName", "in": "query", "required": true, "schema": { "type": "string" }, "description": "The connection's display name the file belongs to." }, { "name": "fileName", "in": "query", "required": true, "schema": { "type": "string" }, "description": "File name, without extension." }, { "name": "pipelineId", "in": "query", "required": true, "schema": { "type": "string" } }, { "name": "offset", "in": "query", "required": false, "schema": { "type": "integer" } }, { "name": "limit", "in": "query", "required": false, "schema": { "type": "integer" } } ], "responses": { "200": { "description": "Processed JSON file content", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/JsonFileResponse" } } } }, "404": { "$ref": "#/components/responses/NotFound" } } }
    },
    "/files/search": {
      "post": { "tags": ["Files"], "summary": "Search across processed files", "description": "Search rows across processed files belonging to the given pipeline runs. pipelineRunIds is required; omit searchTerm to return all rows.", "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/SearchFilesParams" } } } }, "responses": { "200": { "description": "Search results", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/SearchResults" } } } } } }
    },
    "/notifications/preferences/{clientId}": {
      "get": { "tags": ["Notifications"], "summary": "Get notification preferences", "description": "List a connection's notification preferences, ordered by event type then channel. The path segment is named `clientId` for back-compat — it is the connection id.", "parameters": [ { "name": "clientId", "in": "path", "required": true, "schema": { "type": "string" }, "description": "Connection id." } ], "responses": { "200": { "description": "Preferences", "content": { "application/json": { "schema": { "type": "array", "items": { "$ref": "#/components/schemas/NotificationPreference" } } } } } } },
      "put": { "tags": ["Notifications"], "summary": "Set notification preferences", "description": "Upsert a connection's preferences, matched on (eventType, channel). An enabled preference requires at least one recipient.", "parameters": [ { "name": "clientId", "in": "path", "required": true, "schema": { "type": "string" }, "description": "Connection id." } ], "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/SetNotificationPreferencesParams" } } } }, "responses": { "200": { "description": "Updated preferences", "content": { "application/json": { "schema": { "type": "array", "items": { "$ref": "#/components/schemas/NotificationPreference" } } } } } } }
    },
    "/webhooks/zapier/pipeline-run-events/subscribe": {
      "post": { "tags": ["Webhooks"], "summary": "Subscribe Zapier to pipeline-run events", "description": "Registers a workspace-level PIPELINE_RUN_EVENT webhook that fires on every run.", "requestBody": { "required": true, "content": { "application/json": { "schema": { "type": "object", "properties": { "targetUrl": { "type": "string", "format": "uri" } }, "required": ["targetUrl"] } } } }, "responses": { "200": { "description": "Subscription", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ZapierPipelineRunSubscription" } } } } } }
    },
    "/webhooks/zapier/pipeline-run-events/unsubscribe": {
      "delete": { "tags": ["Webhooks"], "summary": "Unsubscribe Zapier from pipeline-run events", "requestBody": { "required": true, "content": { "application/json": { "schema": { "type": "object", "properties": { "id": { "type": "string" } }, "required": ["id"] } } } }, "responses": { "200": { "description": "Unsubscribed", "content": { "application/json": { "schema": { "type": "object", "properties": { "success": { "type": "boolean" } }, "required": ["success"] } } } } } }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key"
      }
    },
    "responses": {
      "BadRequest": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
      "NotFound": { "description": "Not found", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
      "Forbidden": { "description": "Forbidden — e.g. a protected pipeline folder without admin + force.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
      "Conflict": { "description": "Conflict — e.g. the target already exists.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
    },
    "schemas": {
      "Pagination": {
        "type": "object",
        "properties": {
          "page": { "type": "integer" },
          "limit": { "type": "integer" },
          "total": { "type": "integer" },
          "totalPages": { "type": "integer" }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "message": { "type": "string" },
          "statusCode": { "type": "integer" },
          "error": { "type": "string" }
        }
      },
      "MessageResponse": {
        "type": "object",
        "properties": { "message": { "type": "string" } },
        "required": ["message"]
      },

      "PipelineRunStatus": {
        "type": "string",
        "enum": ["pending", "processing", "completed", "delivered", "failed", "acknowledged"]
      },
      "PipelineRun": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "filename": { "type": "string" },
          "path": { "type": "string" },
          "size": { "type": "integer" },
          "mimetype": { "type": "string" },
          "metadata": { "type": "object", "additionalProperties": true },
          "status": { "$ref": "#/components/schemas/PipelineRunStatus" },
          "pipelineDirection": { "type": "string", "enum": ["inbound", "outbound"], "description": "Direction of the pipeline that produced this run." },
          "errorMessage": { "type": "string" },
          "createdAt": { "type": "string", "format": "date-time" },
          "updatedAt": { "type": "string", "format": "date-time" },
          "processedAt": { "type": "string", "format": "date-time" },
          "clientId": { "type": "string" },
          "schemaId": { "type": "string" },
          "pipelineId": { "type": "string" },
          "pipelineName": { "type": "string", "nullable": true, "description": "Name of the originating pipeline. `DELETED PIPELINE` when the pipeline was deleted." },
          "isPipelineDeleted": { "type": "boolean", "description": "True when the originating pipeline has been deleted." },
          "client": { "type": "object", "nullable": true, "description": "Originating connection's display name, resolved from the SFTP/email child connection.", "properties": { "name": { "type": "string", "nullable": true } } }
        },
        "required": ["id", "filename", "status", "createdAt", "updatedAt", "clientId"]
      },
      "PresignedUrlResponse": {
        "type": "object",
        "properties": {
          "url": { "type": "string", "format": "uri" },
          "filename": { "type": "string" },
          "mimetype": { "type": "string" },
          "expiresIn": { "type": "integer" }
        },
        "required": ["url", "filename", "expiresIn"]
      },
      "PipelineRunDataResponse": {
        "type": "object",
        "properties": {
          "data": { "type": "array", "items": { "type": "object", "additionalProperties": true } },
          "pagination": {
            "type": "object",
            "properties": {
              "total": { "type": "integer", "description": "Total number of records in the pipeline run." },
              "offset": { "type": "integer" },
              "limit": { "type": "integer" },
              "returned": { "type": "integer", "description": "Number of records returned in this page." }
            }
          }
        },
        "required": ["data"]
      },
      "PaginatedPipelineRuns": {
        "type": "object",
        "properties": {
          "data": { "type": "array", "items": { "$ref": "#/components/schemas/PipelineRun" } },
          "pagination": { "$ref": "#/components/schemas/Pagination" }
        },
        "required": ["data", "pagination"]
      },
      "PaginatedPipelineRunsOrArray": {
        "oneOf": [
          { "$ref": "#/components/schemas/PaginatedPipelineRuns" },
          { "type": "array", "items": { "$ref": "#/components/schemas/PipelineRun" } }
        ]
      },

      "PipelineRunDeltaSummary": {
        "type": "object",
        "description": "Aggregate counts for a pipeline-run delta.",
        "properties": {
          "baseCount": { "type": "integer", "description": "Records in the base run's processed file." },
          "compareCount": { "type": "integer", "description": "Records in the compare run's processed file." },
          "addedCount": { "type": "integer", "description": "Records present in the compare run but not the base run." },
          "removedCount": { "type": "integer", "description": "Records present in the base run but not the compare run." }
        },
        "required": ["baseCount", "compareCount", "addedCount", "removedCount"]
      },
      "PipelineRunDeltaChange": {
        "type": "object",
        "description": "A single changed record. `added` = present only in the compare run; `removed` = present only in the base run.",
        "properties": {
          "changeType": { "type": "string", "enum": ["added", "removed"] },
          "record": { "type": "object", "additionalProperties": true, "description": "The processed record (a row of the processed file) that was added or removed." }
        },
        "required": ["changeType", "record"]
      },
      "PipelineRunDeltaPagination": {
        "type": "object",
        "description": "Pagination metadata for the flattened changes list.",
        "properties": {
          "total": { "type": "integer", "description": "Total change entries (addedCount + removedCount)." },
          "offset": { "type": "integer" },
          "limit": { "type": "integer" },
          "returned": { "type": "integer", "description": "Number of change entries returned in this page." }
        },
        "required": ["total", "offset", "limit", "returned"]
      },
      "PipelineRunDelta": {
        "type": "object",
        "description": "Record-level delta between two runs of the same pipeline.",
        "properties": {
          "baseRunId": { "type": "string" },
          "compareRunId": { "type": "string" },
          "pipelineId": { "type": "string", "description": "The pipeline definition both runs belong to." },
          "summary": { "$ref": "#/components/schemas/PipelineRunDeltaSummary" },
          "changes": { "type": "array", "items": { "$ref": "#/components/schemas/PipelineRunDeltaChange" }, "description": "Changed records for this page (added first, then removed)." },
          "pagination": { "$ref": "#/components/schemas/PipelineRunDeltaPagination" }
        },
        "required": ["baseRunId", "compareRunId", "pipelineId", "summary", "changes", "pagination"]
      },

      "Connection": {
        "type": "object",
        "description": "An SFTP / Email / API endpoint with its credentials. Canonical name as of API version `2026-05-25` (formerly `Client`). Credentials (sftpPassword / sftpPrivateKey / sftpPassphrase / awsPassword) are write-only and never returned in responses.",
        "properties": {
          "id": { "type": "string" },
          "name": { "type": "string" },
          "type": { "type": "string", "enum": ["SFTP", "EMAIL"], "description": "Connection kind. Always present as of API version `2026-05-25`." },
          "sftpUsername": { "type": "string" },
          "useHostedSFTP": { "type": "boolean" },
          "awsUserName": { "type": "string", "description": "Server-generated SFTP username slug for a FileFeed-hosted connection. (Outbound uploads reference a connection by its human-readable `name`, not this slug.)" },
          "awsPublicKey": { "type": "string" },
          "ipWhitelist": { "type": "array", "items": { "type": "string" } },
          "sftpServerDataId": { "type": "string" },
          "sftpServer": { "$ref": "#/components/schemas/SftpServerData" },
          "emailInbox": { "$ref": "#/components/schemas/EmailInbox" },
          "createdAt": { "type": "string", "format": "date-time" },
          "updatedAt": { "type": "string", "format": "date-time" }
        },
        "required": ["id", "name", "type", "createdAt", "updatedAt"]
      },
      "SftpServerData": {
        "type": "object",
        "description": "The SFTP server a connection is bound to. For a self-hosted connection, host/port/rootDirectory describe the customer endpoint FileFeed dials out to; for a hosted connection, the FileFeed-managed AWS Transfer server.",
        "properties": {
          "id": { "type": "string" },
          "name": { "type": "string" },
          "isAwsHosted": { "type": "boolean" },
          "host": { "type": "string" },
          "port": { "type": "integer" },
          "rootDirectory": { "type": "string", "nullable": true },
          "status": { "type": "string" },
          "createdAt": { "type": "string", "format": "date-time" },
          "updatedAt": { "type": "string", "format": "date-time" }
        },
        "required": ["id", "name", "isAwsHosted", "host", "port", "status"]
      },
      "EmailInbox": {
        "type": "object",
        "description": "Resolved inbox config for an EMAIL connection. Returned on `Connection.emailInbox`, present only when `type` = `EMAIL`.",
        "properties": {
          "inboundAddress": { "type": "string", "description": "Address mail is delivered to, e.g. feed-7t9w@in.filefeed.io." },
          "allowedSenders": { "type": "array", "items": { "type": "string" }, "description": "Full emails or @domain.com patterns. Empty = allow all senders." },
          "allowedFormats": { "type": "array", "items": { "type": "string", "enum": ["csv", "xlsx", "xls", "json", "xml", "tsv"] } },
          "subjectFilter": { "type": "string", "nullable": true, "description": "Case-insensitive subject substring filter. Null = no filter." }
        },
        "required": ["inboundAddress", "allowedSenders", "allowedFormats", "subjectFilter"]
      },
      "CreateConnectionParams": {
        "type": "object",
        "properties": {
          "name": { "type": "string" },
          "type": { "type": "string", "enum": ["SFTP", "EMAIL"], "default": "SFTP", "description": "Connection kind. Defaults to SFTP. Set to EMAIL to create an email inbox connection — the email* fields then apply and SFTP fields are ignored." },
          "sftpUsername": { "type": "string" },
          "sftpPassword": { "type": "string" },
          "sftpPrivateKey": { "type": "string" },
          "sftpPassphrase": { "type": "string" },
          "useHostedSFTP": { "type": "boolean" },
          "awsUserName": { "type": "string" },
          "awsPublicKey": { "type": "string" },
          "awsPassword": { "type": "string" },
          "ipWhitelist": { "type": "array", "items": { "type": "string" } },
          "sftpServerDataId": { "type": "string" },
          "sftpHost": { "type": "string", "description": "Self-hosted SFTP (useHostedSFTP=false): the customer SFTP host FileFeed dials out to." },
          "sftpPort": { "type": "integer", "description": "Self-hosted SFTP port." },
          "sftpRemotePath": { "type": "string", "description": "Self-hosted SFTP remote directory." },
          "emailAllowedSenders": { "type": "array", "items": { "type": "string" }, "maxItems": 50, "description": "EMAIL only. Allowed senders — full address (alice@acme.com) or root-domain pattern (@acme.com). Empty/omitted = accept any sender." },
          "emailAllowedFormats": { "type": "array", "items": { "type": "string", "enum": ["csv", "xlsx", "xls", "json", "xml", "tsv"] }, "minItems": 1, "description": "EMAIL only. Attachment accept-list. Required and non-empty for EMAIL connections." },
          "emailSubjectFilter": { "type": "string", "maxLength": 200, "description": "EMAIL only. Case-insensitive substring required in the subject. Empty = no filter." },
          "emailInboundAddress": { "type": "string", "format": "email", "maxLength": 320, "description": "EMAIL only, create-only and immutable. Custom inbound address {workspace-slug}.{connection-slug}@in.filefeed.io. Omit to have one generated (feed-XXXX@in.filefeed.io)." }
        },
        "required": ["name"]
      },
      "UpdateConnectionParams": {
        "allOf": [ { "$ref": "#/components/schemas/CreateConnectionParams" } ]
      },
      "Client": {
        "deprecated": true,
        "description": "**Deprecated** — alias for [Connection](#schema/Connection). Removed when API version `2024-09-01` sunsets on 2027-05-25.",
        "allOf": [ { "$ref": "#/components/schemas/Connection" } ]
      },
      "CreateClientParams": {
        "deprecated": true,
        "description": "**Deprecated** — alias for [CreateConnectionParams](#schema/CreateConnectionParams).",
        "allOf": [ { "$ref": "#/components/schemas/CreateConnectionParams" } ]
      },
      "UpdateClientParams": {
        "deprecated": true,
        "description": "**Deprecated** — alias for [UpdateConnectionParams](#schema/UpdateConnectionParams).",
        "allOf": [ { "$ref": "#/components/schemas/UpdateConnectionParams" } ]
      },
      "TestConnectionResponse": {
        "type": "object",
        "properties": { "success": { "type": "boolean" }, "message": { "type": "string" } },
        "required": ["success", "message"]
      },

      "SchemaDefinition": {
        "type": "object",
        "description": "A JSON Schema document describing the columns the processed data must conform to.",
        "properties": {
          "type": { "type": "string", "description": "JSON Schema root type — typically `object`." },
          "properties": { "type": "object", "additionalProperties": true, "description": "Map of column name to JSON Schema property, e.g. { id: { type: \"string\" } }." },
          "required": { "type": "array", "items": { "type": "string" }, "description": "Column names that must be present (at least one)." }
        },
        "additionalProperties": true
      },
      "Schema": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "name": { "type": "string" },
          "description": { "type": "string" },
          "definition": { "$ref": "#/components/schemas/SchemaDefinition" },
          "isActive": { "type": "boolean", "description": "Always present in responses (currently always true)." },
          "createdAt": { "type": "string", "format": "date-time" },
          "updatedAt": { "type": "string", "format": "date-time" }
        },
        "required": ["id", "name", "definition", "createdAt", "updatedAt"]
      },
      "CreateSchemaParams": {
        "type": "object",
        "description": "The schema body is a JSON Schema `definition` object. The legacy `fields` array is ignored by the API.",
        "properties": {
          "name": { "type": "string" },
          "description": { "type": "string" },
          "definition": { "$ref": "#/components/schemas/SchemaDefinition" }
        },
        "required": ["name", "definition"]
      },
      "UpdateSchemaParams": {
        "allOf": [ { "$ref": "#/components/schemas/CreateSchemaParams" } ]
      },
      "ValidateDataRequest": {
        "type": "object",
        "properties": { "data": { "type": "object", "additionalProperties": true } },
        "required": ["data"]
      },
      "ValidationResult": {
        "type": "object",
        "properties": {
          "valid": { "type": "boolean" },
          "errors": { "type": "array", "description": "Raw AJV error objects (present when `valid` is false).", "items": { "type": "object", "properties": { "instancePath": { "type": "string" }, "schemaPath": { "type": "string" }, "keyword": { "type": "string" }, "params": { "type": "object", "additionalProperties": true }, "message": { "type": "string" } } } }
        },
        "required": ["valid"]
      },

      "FieldMapping": {
        "type": "object",
        "description": "One field mapping. Either sourced ({ source, target, transform? } — copies a column from the input), static ({ target, value } — writes a literal constant into the target on every row; omit `source`), or aggregated ({ sources, target, delimiter? } — joins several input columns into one target, in order, joined by `delimiter`, skipping empty values; a `transform`, if set, runs on the joined result). Aggregated mappings are in limited availability and must be enabled for your workspace — a request that uses them on a workspace without the feature is rejected with 400.",
        "properties": {
          "source": { "type": "string", "description": "Source column name. Omit for a static or aggregated mapping." },
          "target": { "type": "string", "description": "Target field/column name." },
          "transform": { "type": "string", "description": "Optional transform key (sourced and aggregated mappings; not applied to static values)." },
          "value": { "type": "string", "description": "Static literal written to `target` on every row. Presence marks the mapping static. Provide instead of `source`/`sources`." },
          "sources": { "type": "array", "items": { "type": "string" }, "description": "Source columns to combine into `target`, joined by `delimiter` (in order; empty values are skipped). Provide instead of `source`. Presence marks the mapping aggregated. Limited availability — requires the field-aggregation feature." },
          "delimiter": { "type": "string", "default": " ", "description": "Separator used to join `sources` (default a single space). An explicit empty string concatenates with no separator. Only used with `sources`." }
        },
        "required": ["target"]
      },
      "PipelineMappings": {
        "type": "object",
        "description": "The mapping definition the API expects. Field mappings live under `fieldMappings`; not a bare array.",
        "properties": {
          "fieldMappings": { "type": "array", "items": { "$ref": "#/components/schemas/FieldMapping" } },
          "options": { "type": "object", "additionalProperties": true, "description": "Parsing hints: delimiter, skipHeaderRow, detectTypes, validateData." },
          "validations": { "type": "object", "additionalProperties": true, "description": "Optional per-target validation overrides, keyed by target column." }
        },
        "required": ["fieldMappings"]
      },
      "Pipeline": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "name": { "type": "string" },
          "direction": { "type": "string", "enum": ["inbound", "outbound"], "default": "inbound", "description": "Pipeline direction. Outbound pipelines accept data via the Outbound Uploads API." },
          "mappings": { "$ref": "#/components/schemas/PipelineMappings" },
          "isActive": { "type": "boolean" },
          "clientId": { "type": "string", "description": "Connection id this pipeline is bound to." },
          "schemaId": { "type": "string" },
          "webhooks": { "type": "array", "description": "Webhooks linked to this pipeline. Present and non-empty only when the pipeline has associated webhooks.", "items": { "type": "object", "properties": { "id": { "type": "string" }, "name": { "type": "string" }, "url": { "type": "string", "format": "uri" } } } },
          "createdAt": { "type": "string", "format": "date-time" },
          "updatedAt": { "type": "string", "format": "date-time" }
        },
        "required": ["id", "name", "mappings", "isActive", "clientId", "schemaId", "createdAt", "updatedAt"]
      },
      "CreatePipelineParams": {
        "type": "object",
        "properties": {
          "name": { "type": "string" },
          "direction": { "type": "string", "enum": ["inbound", "outbound"], "default": "inbound", "description": "Set to \"outbound\" to create a pipeline that accepts data via the Outbound Uploads API." },
          "mappings": { "$ref": "#/components/schemas/PipelineMappings" },
          "clientId": { "type": "string", "description": "Connection id this pipeline is bound to." },
          "schemaId": { "type": "string" },
          "isActive": { "type": "boolean", "description": "Whether the pipeline is active on creation. Backend default: true." },
          "webhookIds": { "type": "array", "items": { "type": "string" } }
        },
        "required": ["name", "mappings", "clientId", "schemaId"]
      },
      "UpdatePipelineParams": {
        "allOf": [ { "$ref": "#/components/schemas/CreatePipelineParams" } ]
      },

      "Webhook": {
        "type": "object",
        "description": "Webhook read shape. The signing `secret` is NOT returned on reads — it is shown only once on the create response (see CreateWebhookResponse).",
        "properties": {
          "id": { "type": "string" },
          "name": { "type": "string" },
          "description": { "type": "string" },
          "url": { "type": "string", "format": "uri" },
          "eventType": { "type": "string", "description": "Defaults to GENERAL. Set server-side; not accepted on create/update." },
          "headers": { "type": "object", "additionalProperties": { "type": "string" } },
          "isActive": { "type": "boolean" },
          "createdAt": { "type": "string", "format": "date-time" },
          "updatedAt": { "type": "string", "format": "date-time" }
        },
        "required": ["id", "name", "url", "eventType", "isActive", "createdAt", "updatedAt"]
      },
      "CreateWebhookResponse": {
        "description": "Returned by `POST /webhooks` only. Identical to Webhook plus the generated signing `secret`, which is shown once here and never again.",
        "allOf": [
          { "$ref": "#/components/schemas/Webhook" },
          { "type": "object", "properties": { "secret": { "type": "string", "description": "HMAC signing secret. Store it now — it is never returned again." } }, "required": ["secret"] }
        ]
      },
      "CreateWebhookParams": {
        "type": "object",
        "description": "eventType and secret are not accepted on create/update: the server defaults eventType to GENERAL and generates the secret (both returned on the Webhook response).",
        "properties": {
          "name": { "type": "string" },
          "description": { "type": "string" },
          "url": { "type": "string", "format": "uri" },
          "headers": { "type": "object", "additionalProperties": { "type": "string" } },
          "isActive": { "type": "boolean" }
        },
        "required": ["name", "url"]
      },
      "UpdateWebhookParams": {
        "allOf": [ { "$ref": "#/components/schemas/CreateWebhookParams" } ]
      },
      "WebhookDelivery": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "webhookId": { "type": "string" },
          "eventType": { "type": "string" },
          "success": { "type": "boolean" },
          "statusCode": { "type": "integer" },
          "errorMessage": { "type": "string" },
          "webhookName": { "type": "string", "description": "Display name of the webhook this delivery targeted, when available." },
          "webhookUrl": { "type": "string", "format": "uri", "description": "Destination URL of the webhook this delivery targeted, when available." },
          "timestamp": { "type": "string", "format": "date-time" }
        },
        "required": ["id", "webhookId", "eventType", "success", "statusCode", "timestamp"]
      },
      "PaginatedWebhookDeliveries": {
        "type": "object",
        "properties": {
          "data": { "type": "array", "items": { "$ref": "#/components/schemas/WebhookDelivery" } },
          "pagination": { "$ref": "#/components/schemas/Pagination" }
        },
        "required": ["data", "pagination"]
      },

      "PatchRunStatusRequest": {
        "type": "object",
        "properties": { "status": { "type": "string", "enum": ["acknowledged"] } },
        "required": ["status"]
      },

      "OutboundUploadState": {
        "type": "string",
        "enum": ["initiated", "uploading", "completed", "aborted"]
      },
      "InitOutboundUploadParams": {
        "type": "object",
        "properties": {
          "connectionName": { "type": "string", "description": "The connection's human-readable name. Resolves identically for hosted and self-hosted SFTP." },
          "clientName": { "type": "string", "deprecated": true, "description": "Deprecated: use connectionName. Resolved by the connection's name." },
          "pipelineName": { "type": "string", "description": "Name of the outbound pipeline (must have direction: \"outbound\")." },
          "totalParts": { "type": "integer", "minimum": 1, "description": "Total number of parts to upload." },
          "filename": { "type": "string", "description": "Optional final filename. Defaults to upload-{uploadId}.json." },
          "outputFilename": { "type": "string", "description": "Exact name for the delivered file. Extension appended from outputFormat if omitted." },
          "outputFormat": { "type": "string", "enum": ["csv", "json", "xml"], "description": "Output serialization. Overrides format; inferred from outputFilename extension if omitted, else defaults to JSON." }
        },
        "required": ["pipelineName", "totalParts"]
      },
      "InitOutboundUploadResponse": {
        "type": "object",
        "properties": {
          "uploadId": { "type": "string" },
          "status": { "$ref": "#/components/schemas/OutboundUploadState" },
          "totalParts": { "type": "integer" },
          "filename": { "type": "string" }
        },
        "required": ["uploadId", "status", "totalParts", "filename"]
      },
      "UploadOutboundPartParams": {
        "type": "object",
        "properties": {
          "data": { "type": "array", "items": { "type": "object", "additionalProperties": true }, "description": "Array of JSON objects for this part." },
          "checksum": { "type": "string", "description": "Optional checksum for integrity validation." }
        },
        "required": ["data"]
      },
      "UploadOutboundPartResponse": {
        "type": "object",
        "properties": {
          "uploadId": { "type": "string" },
          "partNumber": { "type": "integer" },
          "status": { "$ref": "#/components/schemas/OutboundUploadState" },
          "uploadedParts": { "type": "integer", "description": "Number of parts uploaded so far." },
          "totalParts": { "type": "integer" },
          "etag": { "type": "string", "description": "Optional ETag for the uploaded part." }
        },
        "required": ["uploadId", "partNumber", "status", "uploadedParts", "totalParts"]
      },
      "CompleteOutboundUploadPart": {
        "type": "object",
        "properties": {
          "partNumber": { "type": "integer", "minimum": 1 },
          "etag": { "type": "string", "description": "Optional ETag returned by uploadPart." }
        },
        "required": ["partNumber"]
      },
      "CompleteOutboundUploadParams": {
        "type": "object",
        "properties": {
          "parts": { "type": "array", "items": { "$ref": "#/components/schemas/CompleteOutboundUploadPart" }, "description": "Ordered list of all parts. Count must match totalParts." },
          "filename": { "type": "string", "description": "Optional final filename override." }
        },
        "required": ["parts"]
      },
      "CompleteOutboundUploadResponse": {
        "type": "object",
        "properties": {
          "message": { "type": "string" },
          "filename": { "type": "string" }
        },
        "required": ["message", "filename"]
      },
      "OutboundUploadStatusResponse": {
        "type": "object",
        "properties": {
          "uploadId": { "type": "string" },
          "status": { "$ref": "#/components/schemas/OutboundUploadState" },
          "connectionName": { "type": "string", "description": "The connection's human-readable name." },
          "clientName": { "type": "string", "deprecated": true, "description": "Deprecated: use connectionName. Mirrors connectionName." },
          "pipelineName": { "type": "string" },
          "filename": { "type": "string" },
          "totalParts": { "type": "integer" },
          "uploadedParts": { "type": "integer" },
          "uploadedPartNumbers": { "type": "array", "items": { "type": "integer" } },
          "createdAt": { "type": "string", "format": "date-time" },
          "updatedAt": { "type": "string", "format": "date-time" },
          "completedAt": { "type": "string", "format": "date-time" }
        },
        "required": ["uploadId", "status", "connectionName", "clientName", "pipelineName", "totalParts", "uploadedParts", "uploadedPartNumbers", "createdAt", "updatedAt"]
      },

      "DocumentFolder": {
        "type": "object",
        "properties": {
          "name": { "type": "string" },
          "path": { "type": "string", "description": "Folder path relative to the connection root." },
          "isPipelineProtected": { "type": "boolean" },
          "size": { "type": "integer", "description": "Total size in bytes (omitted for very large folders)." },
          "lastModified": { "type": "string", "format": "date-time" }
        },
        "required": ["name", "path", "isPipelineProtected"]
      },
      "DocumentFile": {
        "type": "object",
        "properties": {
          "name": { "type": "string" },
          "path": { "type": "string", "description": "File path relative to the connection root." },
          "size": { "type": "integer" },
          "lastModified": { "type": "string", "format": "date-time" },
          "isPipelineProtected": { "type": "boolean" }
        },
        "required": ["name", "path", "size", "isPipelineProtected"]
      },
      "DocumentBreadcrumb": {
        "type": "object",
        "properties": {
          "connectionId": { "type": "string" },
          "segments": { "type": "array", "items": { "type": "string" } }
        },
        "required": ["connectionId", "segments"]
      },
      "BrowseResponse": {
        "type": "object",
        "properties": {
          "folders": { "type": "array", "items": { "$ref": "#/components/schemas/DocumentFolder" } },
          "files": { "type": "array", "items": { "$ref": "#/components/schemas/DocumentFile" } },
          "nextToken": { "type": "string", "description": "Token for the next page; omitted when exhausted." },
          "breadcrumb": { "$ref": "#/components/schemas/DocumentBreadcrumb" }
        },
        "required": ["folders", "files", "breadcrumb"]
      },
      "DocumentMetadata": {
        "type": "object",
        "properties": {
          "path": { "type": "string" },
          "name": { "type": "string" },
          "size": { "type": "integer" },
          "contentType": { "type": "string" },
          "lastModified": { "type": "string", "format": "date-time" },
          "etag": { "type": "string" }
        },
        "required": ["path", "name", "size"]
      },
      "DownloadUrl": {
        "type": "object",
        "properties": {
          "url": { "type": "string", "format": "uri" },
          "filename": { "type": "string" },
          "mimetype": { "type": "string" },
          "size": { "type": "integer" },
          "expiresIn": { "type": "integer" }
        },
        "required": ["url", "filename", "mimetype", "size", "expiresIn"]
      },
      "UploadPartUrl": {
        "type": "object",
        "properties": {
          "partNumber": { "type": "integer" },
          "url": { "type": "string", "format": "uri" }
        },
        "required": ["partNumber", "url"]
      },
      "UploadTicket": {
        "type": "object",
        "description": "Presigned upload ticket. mode=single → PUT the whole file to url; mode=multipart → PUT each part to parts[].url then complete with uploadId + ETags.",
        "properties": {
          "mode": { "type": "string", "enum": ["single", "multipart"] },
          "path": { "type": "string" },
          "url": { "type": "string", "format": "uri" },
          "headers": { "type": "object", "additionalProperties": { "type": "string" } },
          "uploadId": { "type": "string" },
          "parts": { "type": "array", "items": { "$ref": "#/components/schemas/UploadPartUrl" } },
          "partSize": { "type": "integer" }
        },
        "required": ["mode", "path"]
      },
      "CreateUploadTicketParams": {
        "type": "object",
        "properties": {
          "connectionId": { "type": "string" },
          "path": { "type": "string", "description": "Destination folder relative to the connection root (empty = root)." },
          "filename": { "type": "string" },
          "contentType": { "type": "string" },
          "size": { "type": "integer", "description": "File size in bytes (decides single vs multipart)." },
          "force": { "type": "boolean" }
        },
        "required": ["connectionId", "filename", "size"]
      },
      "UploadPartRef": {
        "type": "object",
        "properties": {
          "partNumber": { "type": "integer" },
          "etag": { "type": "string" }
        },
        "required": ["partNumber", "etag"]
      },
      "CompleteUploadParams": {
        "type": "object",
        "properties": {
          "connectionId": { "type": "string" },
          "path": { "type": "string" },
          "uploadId": { "type": "string" },
          "parts": { "type": "array", "items": { "$ref": "#/components/schemas/UploadPartRef" } }
        },
        "required": ["connectionId", "path", "uploadId", "parts"]
      },
      "UploadCompleteResult": {
        "type": "object",
        "properties": {
          "path": { "type": "string" },
          "size": { "type": "integer" },
          "etag": { "type": "string" }
        },
        "required": ["path", "size"]
      },
      "AbortUploadParams": {
        "type": "object",
        "properties": {
          "connectionId": { "type": "string" },
          "path": { "type": "string" },
          "uploadId": { "type": "string" }
        },
        "required": ["connectionId", "path", "uploadId"]
      },
      "CreateFolderParams": {
        "type": "object",
        "properties": {
          "connectionId": { "type": "string" },
          "path": { "type": "string" },
          "force": { "type": "boolean" }
        },
        "required": ["connectionId", "path"]
      },
      "MoveParams": {
        "type": "object",
        "properties": {
          "connectionId": { "type": "string" },
          "from": { "type": "string" },
          "to": { "type": "string" },
          "force": { "type": "boolean" }
        },
        "required": ["connectionId", "from", "to"]
      },
      "RenameParams": {
        "type": "object",
        "properties": {
          "connectionId": { "type": "string" },
          "path": { "type": "string" },
          "newName": { "type": "string", "description": "Single path segment (no slashes)." },
          "force": { "type": "boolean" }
        },
        "required": ["connectionId", "path", "newName"]
      },
      "DeleteResult": {
        "type": "object",
        "properties": { "deleted": { "type": "boolean", "enum": [true] } },
        "required": ["deleted"]
      },
      "BulkDeleteItem": {
        "type": "object",
        "properties": {
          "path": { "type": "string" },
          "isFolder": { "type": "boolean", "description": "Whether the item is a folder (recursive) or a single object." }
        },
        "required": ["path", "isFolder"]
      },
      "BulkDeleteParams": {
        "type": "object",
        "properties": {
          "connectionId": { "type": "string" },
          "items": { "type": "array", "items": { "$ref": "#/components/schemas/BulkDeleteItem" } },
          "force": { "type": "boolean" }
        },
        "required": ["connectionId", "items"]
      },
      "BulkDeleteFailure": {
        "type": "object",
        "properties": { "path": { "type": "string" }, "reason": { "type": "string" } },
        "required": ["path", "reason"]
      },
      "BulkDeleteResult": {
        "type": "object",
        "properties": {
          "deleted": { "type": "integer" },
          "failed": { "type": "array", "items": { "$ref": "#/components/schemas/BulkDeleteFailure" } }
        },
        "required": ["deleted", "failed"]
      },
      "JsonFileResponse": {
        "type": "object",
        "description": "When the stored file is a JSON array and offset/limit are supplied, a paginated envelope is returned; otherwise the raw parsed JSON is returned (pagination absent).",
        "properties": {
          "data": { "type": "array", "items": { "type": "object", "additionalProperties": true } },
          "pagination": { "type": "object", "properties": { "total": { "type": "integer" }, "offset": { "type": "integer" }, "limit": { "type": "integer" }, "returned": { "type": "integer" } } }
        },
        "required": ["data"]
      },
      "SearchFilesParams": {
        "type": "object",
        "properties": {
          "pipelineRunIds": { "type": "array", "items": { "type": "string" }, "minItems": 1 },
          "searchTerm": { "type": "string", "description": "Omit to return all rows from the given runs." },
          "fieldName": { "type": "string" },
          "exactMatch": { "type": "boolean" },
          "caseSensitive": { "type": "boolean" },
          "offset": { "type": "integer" },
          "limit": { "type": "integer", "description": "1–1000." }
        },
        "required": ["pipelineRunIds"]
      },
      "SearchResultItem": {
        "type": "object",
        "properties": {
          "pipelineRunId": { "type": "string" },
          "filename": { "type": "string" },
          "pipelineName": { "type": "string" },
          "clientName": { "type": "string" },
          "rowIndex": { "type": "integer" },
          "rowData": { "type": "object", "additionalProperties": true },
          "matchingFields": { "type": "array", "items": { "type": "string" } },
          "processedAt": { "type": "string", "format": "date-time" }
        },
        "required": ["pipelineRunId", "filename", "rowIndex", "rowData", "matchingFields", "processedAt"]
      },
      "SearchResults": {
        "type": "object",
        "properties": {
          "results": { "type": "array", "items": { "$ref": "#/components/schemas/SearchResultItem" } },
          "pagination": { "type": "object", "properties": { "total": { "type": "integer" }, "offset": { "type": "integer" }, "limit": { "type": "integer" }, "returned": { "type": "integer" } } },
          "metadata": { "type": "object", "properties": { "searchTerm": { "type": "string" }, "caseSensitive": { "type": "boolean" }, "searchDurationMs": { "type": "integer" }, "filesSearched": { "type": "integer" } } }
        },
        "required": ["results", "pagination", "metadata"]
      },
      "NotificationPreference": {
        "type": "object",
        "description": "A stored per-connection notification preference. The connection FK is named `clientId` on the wire (the v1 term).",
        "properties": {
          "id": { "type": "string" },
          "workspaceId": { "type": "string" },
          "clientId": { "type": "string", "description": "The connection this preference is scoped to." },
          "eventType": { "type": "string", "enum": ["PIPELINE_RUN_FAILED", "PIPELINE_RUN_SUCCEEDED"] },
          "channel": { "type": "string", "enum": ["EMAIL", "SLACK", "SMS"] },
          "isEnabled": { "type": "boolean" },
          "recipients": { "type": "array", "items": { "type": "string" } },
          "metadata": { "type": "object", "additionalProperties": true, "nullable": true },
          "createdAt": { "type": "string", "format": "date-time" },
          "updatedAt": { "type": "string", "format": "date-time" }
        },
        "required": ["id", "clientId", "eventType", "channel", "isEnabled", "recipients", "createdAt", "updatedAt"]
      },
      "NotificationPreferenceInput": {
        "type": "object",
        "properties": {
          "eventType": { "type": "string", "enum": ["PIPELINE_RUN_FAILED", "PIPELINE_RUN_SUCCEEDED"] },
          "channel": { "type": "string", "enum": ["EMAIL", "SLACK", "SMS"] },
          "isEnabled": { "type": "boolean" },
          "recipients": { "type": "array", "items": { "type": "string" }, "description": "Required and non-empty when isEnabled is true; ignored when false." }
        },
        "required": ["eventType", "channel", "isEnabled"]
      },
      "SetNotificationPreferencesParams": {
        "type": "object",
        "properties": {
          "preferences": { "type": "array", "items": { "$ref": "#/components/schemas/NotificationPreferenceInput" }, "minItems": 1 }
        },
        "required": ["preferences"]
      },
      "ZapierPipelineRunSubscription": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "targetUrl": { "type": "string", "format": "uri" }
        },
        "required": ["id", "targetUrl"]
      }
    }
  }
}
